<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show message</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Cab Booked!!</h1>
<p>

        <input type="checkbox" name="cabEntities"
               th:each="cab : ${allCabs}"
               th:text="${cab.driverName + ':'+ cab.getModelNumber()+':'+ cab.getAreaCode()}"
               th:value="${cab.cabId}"
               th:field="*{cabEntities}"
        />
   
</p>

<a href="/addUser">Create another cab request!</a>

</body>
</html>
