<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Available Cabs</title>

</head>
<body>
<form th:action="@{/bookCab}" th:object="${user}" method="post">
    <p>
        <label> Available Cabs:
            <input type="checkbox" name="cabEntities"
                   th:each="cab : ${allCabs}"
                   th:text="${cab.driverName + ':'+ cab.getModelNumber()+':'+ cab.getAreaCode()}"
                   th:value="${cab.cabId}"
                   th:field="*{cabEntities}"
            />
        </label>
    </p>
    <p>Select and Proceed</p><input type="submit" value="Proceed"> <input type="reset" value="Reset">
</form>

</body>
</html>